<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->

<div class="bg-dark">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mx-auto mt-5 mb-5">
        <app-resume-builder></app-resume-builder>
      </div>
    </div>
  </div>
</div>
